<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users Book Request | LibraryApp</title>

    <!-- Bootstrap | CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../css/dashboard.css" rel="stylesheet">
</head>

<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fw-bold text-warning fs-4" href="#">Library App</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h5 class="text-light">Welcome, <span class="mx-2" th:text="${username}"></span></h5>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link fw-bold text-danger" href="/logout">
                    <span class="text-danger" data-feather="log-out"></span>
                    Sign out
                </a>
            </li>
        </ul>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/admin/dashboard">
                                <span data-feather="home"></span>
                                Dashboard
                            </a>
                        </li>
                        <hr>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/view-users">
                                <span data-feather="users"></span>
                                View Users
                            </a>
                        </li>
                        <hr>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/view-books">
                                <span data-feather="book"></span>
                                View Books
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/add-book">
                                <span class="text-success" data-feather="file-plus"></span>
                                Add Book
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/unavailable-books">
                                <span class="text-warning" data-feather="bookmark"></span>
                                Unavailable Books
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/users-book-request">
                                <span class="text-info" data-feather="unlock"></span>
                                Users Book Request
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <h1 class="h2 mt-1">View Users</h1>
                <hr>
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered caption-top table-hover">
                            <caption>List of Book Access Request</caption>
                            <thead class="bg-light">
                                <tr>
                                    <th>#</th>
                                    <th><span data-feather="book"></span> Title</th>
                                    <th><span data-feather="at-sign"></span> Requested By</th>
                                    <th><span data-feather="activity"></span> Actions</th>
                                </tr>
                            </thead>
                            <tbody th:each="request,loop : ${requestList}">
                                <tr>
                                    <td th:text="${loop.count}"></td>
                                    <td th:text="${request.title}"></td>
                                    <td th:text="${request.requestedBy}"></td>
                                    <td>
                                        <button class="btn btn-sm btn-success"
                                            th:attr="onclick=|allowAccess('${request.bookId}')|">Allow Access</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- Bootstrap | JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
    <script src="../js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- Application Constants | JS -->
    <script src="../js/app.constants.js"></script>
    <!-- Custom Sweet Alert 2 | JS -->
    <script src="../js/custom.sweet.alert.js"></script>
    <script>

        function allowAccess(uid) {
            const postRequestOptions = {
                method: 'POST'
            };
            fetch(apiServerUrl + "/admin/allow-book-access?uid=" + uid, postRequestOptions)
                .then(response => response.json())
                .then((data) => {
                    showTopSuccessNotificationWithMessageAndAutoReload("Access granted to the book")
                })
                .catch(() => {
                    showTopErrorNotificationWithMessage("Unable to grant access. Try again")
                })
        }
    </script>
</body>

</html>